.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    color:black;
}

body{
    background-size:cover;
}

.music{
    width:300px;
    height:50px;
    font-size: 30px;
}

canvas{
    border:5px solid white;
    border-radius:20px;
margin-top: 100px;
}

#play{
    font-size: 18px;
}